@import url("assets/reset.css");
@import url("assets/grid.css");

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

#features {
    padding: 100px 0;
    display: block;
}

.feature {
    --icon-size: 60px;
    --tools-color: #e84545;
    --header-color: #2d3033;
    --text-color: #6c7279;

    min-width: 320px;
    width: 100%;
    max-width: 400px;

    margin: auto;
    padding: 20px;
    text-align: center;

    font-size: 1rem;
}

.feature-title {
    margin: 10px 0;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    color: var(--header-color);
}

.feature-description {
    margin-bottom: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    font-size: 1rem;
    line-height: 1.6em;
}

.feature-title, .feature-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

svg.feature-icon {
    height: var(--icon-size);

    margin-bottom: 20px;
    fill: var(--tools-color);
}